.form {
    padding: 20px;
    border: 1px solid rgb(231, 236, 231);
    border-radius: 20px;
    margin: 20px;
}

.input{
    text-align: left;
    margin: 10px;
}

.label{
    margin-right: 10px;
}

.error {
    color: red;
}